html {
    height: 100%;
}

body {
    box-sizing: border-box;
    color: #3b3b3b;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    min-height: 100%;
    padding: 3em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::selection{
    background: #434343;
    color: #fff;
}
