.status {
    left: .5em;
    overflow: visible;
    position: relative;
    width: 0;
}

.status-fail {
    line-height: 1;
}

.status-success {
    border-bottom: .1em solid #3b3b3b;
    border-right: .1em solid #3b3b3b;
    display: inline-block;
    font-size: .9em;
    height: 1em;
    transform: translate(100%,-5%) rotate(45deg);
    width: .4em;
}
